/**
 * Shared styles styles.
 *
 * @author CJ Vogt <mail@chrisvogt.me>
 * @link   http://www.chrisvogt.me
 */

/**
 * Viewpane
 */
html {
  min-height: 100%;
  position: relative;
}
body {
  min-height: 100%;

  /* http://colorzilla.com/gradient-editor/#ffffff+0,fefefe+100 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
#viewpane {
/*  background: url('../img/flap-shadow.png') no-repeat top center; */
  min-height: 100%;
  padding-left: 0;
  position: relative;
  z-index: 2;
  padding-bottom: 35px;
}
@media (max-width: 768px) {
  body {
    padding-bottom: 71px;
  }
}

/**
 * Typography
 */
h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
}
h1,
h3 {
  font-weight: 700;
}
body {
  font-family: 'Merriweather', serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.social-links a:hover {
  color: #5E4F84;
}
#content h1 {
  font-size: 2.4em;
  margin: .75em 0 8px 0;
}
h2 {
  margin-top: 10px;
}
#content p {
  font-size: 1.286em;
  line-height: 1.5em;
}

/**
 * Layout
 */
#header, footer.footer {
  background: url('../img/bg-delaunay.png') top center;
}
footer.footer {
  z-index: 46;
}

/**
 * Accents
 */
.img-shadow {
  box-shadow: 4px 4px 10px #888888;
}
.btn-primary {
  background-color: #5A4F8C;
  border-color: #574D84;
}
.btn-primary:hover {
  background-color: #6D5287;
  border-color: #61508D;
}
.btn-primary:active {
  background-color: #0E0342!important;
  border-color: #604D7B;
}
.row-gallery {
  /* http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.row-gallery div[class^="col-"] {
  padding: 0;
}
.row-gallery .links {
  padding: 1em;
}
.buffer-top {
  margin-top: 18px;
}
.buffer-right {
  margin-right: 18px;
}
.buffer-bottom {
  margin-bottom: 18px;
}
.buffer-left {
  margin-left: 18px;
}
@media (max-width: 768px) {
  #content .img-responsive { /* Spacing below featured images */
    margin-bottom: 14px;
  }
  .footer p {
    font-size: .825em;
  }
}

/**
 * Navigation
 */
#header .navbar-static-top {
  background: transparent;
  border-bottom: 1px solid #cecece;
  height: 64px;
  margin-bottom: 0;
}
.navbar-brand {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  padding: 6px 12px;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-brand span {
  color: #cecece;
}
.navbar-brand .img {
  display: inline-block;
}
.navbar .social-container {
  float: right;
}
.social-container li {
  display: inline-block;
  font-size: 1.714em;
  line-height: 60px;
  list-style: none;
  margin-right: 2px;
}
.social-container a {
  color: #cecece;
}
.social-container a:hover {
  color: #fefefe;
}
ul.social {
  font-size: .875em;
}

/**
 * Off Canvas
 */
.social-links {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 24px;
  width: 100%;
  text-align: center;
  font-size: 1.250em;
}
.social-links li {
  display: inline-block;
}
.social-links a {
  color: #594D78;
}
.social-links a:hover {
  color: #975D9A;
}

/**
 * Footer
 */
 footer.footer {
   color: #cecece;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 1.143em;
   line-height: 1.143em;
   background-position: bottom;
   position: absolute;
   height: 35px;
   bottom: 0;
   width: 100%;
 }
 .footer p {
   margin: 8px;
 }
.footer .octicon,
.footer .fa,
.footer a {
  color: #fefefe;
}
.footer a:hover {
  color: #cecece;
  text-decoration: none;
}

/**
 * Hover.css
 */

/* Grow Shadow */
.hvr-grow-shadow {
 display: inline-block;
 vertical-align: middle;
 -webkit-transform: translateZ(0);
 transform: translateZ(0);
 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 -moz-osx-font-smoothing: grayscale;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-property: box-shadow, transform;
 transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
 box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
/* Shrink */
.hvr-shrink {
 -webkit-transform: translateZ(0);
 transform: translateZ(0);
 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 -moz-osx-font-smoothing: grayscale;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-property: transform;
 transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
 -webkit-transform: scale(0.9);
 transform: scale(0.9);
}
/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

/**
 * Jasny Off-canvas
 */
.navbar-toggle {
  float: left;
  margin-top: 12px;
}

.navmenu {
  z-index: 1;
  font-family: sans-serif;
}
.navmenu-nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.250em;
  font-weight: 300;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}

