/**
 * CHRISVOGT.me styles.
 *
 * Ordo ab chao.
 *
 * @author CJ Vogt <mail@chrisvogt.me>
 * @link   http://www.chrisvogt.me
 */

/**
 * Viewpane
 */
html {
  min-height: 100%;
  position: relative;
}
body {
  min-height: 100%;

  /* http://colorzilla.com/gradient-editor/#ffffff+0,fefefe+100 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
#viewpane {
/*  background: url('../img/flap-shadow.png') no-repeat top center; */
  min-height: 100%;
  padding-left: 0;
  position: relative;
  z-index: 2;
  padding-bottom: 35px;
}
@media (max-width: 768px) {
  body {
    padding-bottom: 71px;
  }
}

/**
 * Typography
 */
body {
  font-family: 'Droid Serif', serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.social-links a:hover {
  color: #5E4F84;
}
#content h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.4em;
}
h2 {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 10px;
}
#content p {
  font-size: 1.143em;
}

/**
 * Layout
 */
#header, footer.footer {
  background: url('../img/bg-delaunay.png') top center;
}
footer.footer {
  z-index: 46;
}

/**
 * Accents
 */
.img-shadow {
  box-shadow: 4px 4px 10px #888888;
}
.btn-primary {
  background-color: #5A4F8C;
  border-color: #574D84;
}
.btn-primary:hover {
  background-color: #6D5287;
  border-color: #61508D;
}
.btn-primary:active {
  background-color: #0E0342!important;
  border-color: #604D7B;
}
@media (max-width: 768px) {
  #content .img-responsive { /* Spacing below featured images */
    margin-bottom: 14px;
  }
  .footer p {
    font-size: .825em;
  }
}

/**
 * Navigation
 */
#header .navbar-static-top {
  background: transparent;
  border-bottom: 1px solid #cecece;
  height: 64px;
  margin-bottom: 0;
}
.navbar-brand {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  padding: 6px 12px;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-brand span {
  color: #cecece;
}
.navbar-brand .img {
  display: inline-block;
}
.navbar .social-container {
  float: right;
}
.social-container li {
  display: inline-block;
  font-size: 1.714em;
  line-height: 60px;
  list-style: none;
  margin-right: 2px;
}
.social-container a {
  color: #cecece;
}
.social-container a:hover {
  color: #fefefe;
}

/**
 * Masthead: Stats
 */
#masthead {
 color: #efefef;
 font-family: 'Roboto Condensed', sans-serif;
 padding-top: 14px;
 padding-bottom: 8px;
 border-bottom: 1px solid #cecece;

 background: -moz-linear-gradient(45deg, rgba(10,0,63,1) 0%, rgba(255,123,172,0.1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(10,0,63,1)), color-stop(100%,rgba(255,123,172,0.1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(45deg, rgba(10,0,63,1) 0%,rgba(255,123,172,0.1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(45deg, rgba(10,0,63,1) 0%,rgba(255,123,172,0.1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(45deg, rgba(1c0,0,63,1) 0%,rgba(255,123,172,0.1) 100%); /* IE10+ */
 background: linear-gradient(45deg, rgba(10,0,63,1) 0%,rgba(255,123,172,0.1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a003f', endColorstr='#1aff7bac',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#masthead .btn-stats {
 background: rgba(255, 255, 255, .4);
 margin-bottom: 8px;
 color: #efefef;
}
span.val img {
  display: inline-block;
}
.btn-stats p {
 padding: 8px;
}
.btn-stats span.lead {
 font-size: 1.571em;
 color: #fff;
 display: block;
 margin-bottom: 0;
}
#ctlStats {
  display: inline;
  line-height: 60px;
}

@media (max-width: 768px) {
  .btn-stats span {
    font-size: 1.125em;
    display: inline;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #masthead small {
    display: none;
  }
}

/**
 * sidebar
 */
#sidebar {
  border-left: 1px solid #cecece;
  min-height: 100%;
  padding: 8px;
}
#sidebar .thumb {
 width: 96px;
 height: 100%;
 display: inline-block;
 float: left;
}
#sidebar aside {
 padding: 8px;
 font-size: .875em;
}
#sidebar aside.alt {
 background: #fefefe;
}
#sidebar h4 {
 margin-top: 0;
 margin-bottom: 2px;
 font-size: 1.250em;
 font-family: 'Roboto Condensed', sans-serif;
}
#sidebar nav {
 margin-top: 0;
 margin-bottom: 24px;
}
.pager li:hover {
  cursor: pointer;
}

/**
 * Off Canvas
 */
.social-links {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 24px;
  width: 100%;
  text-align: center;
}
.social-links li {
  display: inline-block;
}

/**
 * Footer
 */
 footer.footer {
   color: #cecece;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 1.143em;
   line-height: 1.143em;
   background-position: bottom;
   position: absolute;
   height: 35px;
   bottom: 0;
   width: 100%;
 }
 .footer p {
   margin: 8px;
 }
.footer .octicon,
.footer .fa,
.footer a {
  color: #fefefe;
}
.footer a:hover {
  color: #cecece;
  text-decoration: none;
}

/**
 * Hover.css
 */

/* Grow Shadow */
.hvr-grow-shadow {
 display: inline-block;
 vertical-align: middle;
 -webkit-transform: translateZ(0);
 transform: translateZ(0);
 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 -moz-osx-font-smoothing: grayscale;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-property: box-shadow, transform;
 transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
 box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
/* Shrink */
.hvr-shrink {
 -webkit-transform: translateZ(0);
 transform: translateZ(0);
 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 -moz-osx-font-smoothing: grayscale;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-property: transform;
 transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
 -webkit-transform: scale(0.9);
 transform: scale(0.9);
}
/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

/**
 * jPages
 */
#sidebar {
  overflow: hidden;
}

/**
 * Jasny Off-canvas
 */
.navbar-toggle {
  float: left;
  margin-top: 12px;
}

.navmenu {
  z-index: 1;
  font-family: sans-serif;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}

/**
 * Prettify
 */
.com{color:#93a1a1}.lit{color:#195f91}.clo,.opn,.pun{color:#93a1a1}.fun{color:#dc322f}.atv,.str{color:#D14}.kwd,.prettyprint .tag{color:#1e347b}.atn,.dec,.typ,.var{color:teal}.pln{color:#48484c}.prettyprint{padding:22px;border:1px solid #DDE4E6;box-shadow:inset 0 1px 0 #fff,1px 1px 0 #fff,2px 2px 0 #DDE4E6,3px 3px 0 #fff,4px 4px 0 #DDE4E6;background-color:#fff;background-image:-webkit-linear-gradient(#EAEEEF .1em,transparent .1em);background-image:-o-linear-gradient(#EAEEEF .1em,transparent .1em);background-image:linear-gradient(#EAEEEF .1em,transparent .1em);background-size:100% 1.6em}.prettyprint.linenums{padding:22px 8px;box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0,inset 0 1px 0 #fff,1px 1px 0 #fff,2px 2px 0 #ddd,3px 3px 0 #fff,4px 4px 0 #ddd;background:0 0}.prettyprint.linenums ol{padding-bottom:1px;background-color:#fff;background-image:-webkit-linear-gradient(#EAEEEF .1em,transparent .1em);background-image:-o-linear-gradient(#EAEEEF .1em,transparent .1em);background-image:linear-gradient(#EAEEEF .1em,transparent .1em);background-size:100% 20px}ol.linenums{margin:0 0 0 33px;padding-left:0}ol.linenums li{padding-left:16px;color:#bebec5;line-height:20px;text-shadow:0 1px 0 #fff}
