<footer class="footer">
  <div class="container-fluid">
    <div class="col-xs-4">
      <p><span class="octicon octicon-pencil"></span> with <span class="octicon octicon-heart"></span> by <a href="https://twitter.com/c1v0" title="C1V0 on Twitter" class="hvr-grow-rotate">@c1v0</a>.</p>
    </div>
    <div class="col-xs-4 text-center">
      <p>
        <a href="http://en.wikipedia.org/wiki/Hacker_ethic#The_hacker_ethics" title="Hacker Ethic on Wikipedia" class="hvr-grow-rotate">
          <img src="/img/glider.svg" width="16" height="16" alt="Glider emblem" id="glider">
        </a>
      </p>
    </div>
    <div class="col-xs-4 text-right">
      <p>View the <i class="fa fa-git"></i> source on <a href="https://github.com/chrisvogt/chrisvogt.github.io" title="View on GitHub" class="hvr-grow-rotate"><span class="octicon octicon-logo-github"></span></a>.</p>
    </div>
  </div>
</footer>
