<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        brought to you by...
   ██████╗ ██╗██╗   ██╗ ██████╗
  ██╔════╝███║██║   ██║██╔═████╗
  ██║     ╚██║██║   ██║██║██╔██║
  ██║      ██║╚██╗ ██╔╝████╔╝██║
  ╚██████╗ ██║ ╚████╔╝ ╚██████╔╝
   ╚═════╝ ╚═╝  ╚═══╝   ╚═════╝
       chrisvogt.me | @c1v0
     -->
    <meta name="robots" content="index, follow">

    <title>{{ page.title }} | CHRISVOGT.me</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author }}">

    <meta name="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="og:image" content="{{ site.banner }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:creator" content="@{{ site.twitter }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{{ site.banner }}">

    <!-- Bootstrap core CSS -->
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
    <!-- Custom styles -->
    <link href="/css/ordo.css" rel="stylesheet" title="primary">
    <!-- jPages -->
    <link href="/components/jpages/css/jPages.css" rel="stylesheet">
    <!-- Google Webfonts -->
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic%7cDancing+Script%7cRoboto+Condensed" rel="stylesheet">
    <!-- Octicons -->
    <link href="/components/octicons/octicons/octicons.css" rel="stylesheet">
    <!-- animate.css -->
    <link href="/components/animate.css/animate.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/favicon-57.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon-152.png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
        <div id="header">
          <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
              <a class="navbar-brand hvr-grow-rotate" href="/">
                <img class="img img-circle hvr-grow-rotate" src="http://www.gravatar.com/avatar/3e0cd2da42672a768e98a2b0c0617b72?s=48px" width="48" height="48" alt="Avatar">
                chrisvogt<span>.me</span>
              </a>
              <a id="ctlStats" class="btn btn-default btn-xs" data-toggle="collapse" href="#masthead" aria-expanded="true" aria-controls="masthead">
                <i class="fa fa-area-chart"></i>
              </a>
              <div class="social-container">
                <ul class="social">
                  <li>
                    <a class="github" href="https://github.com/chrisvogt" title="Chris Vogt on GitHub">
                      <i class="fa fa-github-square hvr-shrink"></i>
                    </a>
                  </li>
                  <li>
                    <a class="twitter" href="https://twitter.com/c1v0" title="@C1V0 on Twitter">
                      <i class="fa fa-twitter-square hvr-shrink"></i>
                    </a>
                  </li>
                  <li>
                    <a class="gplus" href="https://plus.google.com/u/0/+chrisvogt94952" title="CJ Vogt on Google+">
                      <i class="fa fa-google-plus-square hvr-shrink"></i>
                    </a>
                  </li>
                  <li>
                    <a class="behance" href="https://www.behance.net/chrisvogt" title="Chris Vogt on Behance">
                      <i class="fa fa-behance-square hvr-shrink"></i>
                    </a>
                  </li>
                  <li>
                    <a class="instagram" href="https://instagram.com/c1v0" title="C1V0 on Instagram">
                      <i class="fa fa-instagram hvr-shrink"></i>
                    </a>
                  </li>
                  <li>
                    <a class="linkedin" href="https://www.linkedin.com/in/cjvogt" title="Chris Vogt on LinkedIn">
                      <i class="fa fa-linkedin-square hvr-shrink"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          {% include masthead.html %}
        </div><!-- /#header -->
