<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        brought to you by...
   ██████╗ ██╗██╗   ██╗ ██████╗
  ██╔════╝███║██║   ██║██╔═████╗
  ██║     ╚██║██║   ██║██║██╔██║
  ██║      ██║╚██╗ ██╔╝████╔╝██║
  ╚██████╗ ██║ ╚████╔╝ ╚██████╔╝
   ╚═════╝ ╚═╝  ╚═══╝   ╚═════╝
       chrisvogt.me | @c1v0
     -->
    <meta name="robots" content="index, follow">

    <title>{{ page.title }} | CHRISVOGT.me</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author }}">

    <meta name="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="og:image" content="{{ site.banner }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:creator" content="@{{ site.twitter }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{{ site.banner }}">

    <!-- Bootstrap & Jasny -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Custom styles -->
    <link href="/css/ordo.css" rel="stylesheet" title="primary">
    <!-- jPages -->
    <link href="/components/jPages/css/jPages.css" rel="stylesheet">
    <!-- Google Webfonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic%7cDancing+Script%7cRoboto+Condensed" rel="stylesheet">
    <!-- Octicons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.4.1/octicons.min.css" rel="stylesheet">
    <!-- animate.css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/favicon-57.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon-152.png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% include offcanvas.html %}
        <div id="header">
          {% include navigation.html %}
          {% include masthead.html %}
        </div><!-- /#header -->
