<div id="masthead" class="collapse in">
  <div class="container-fluid">
    <div class="col-xs-12 col-md-3">
      <a href="http://stats.chrisvogt.me" class="btn btn-stats btn-block hvr-grow-shadow">
        <p>
          <span class="lead"><i class="fa fa-clock-o"></i> 24 hours</span> <small>logged towards open source projects this month.</small>
        </p>
      </a>
    </div>
    <div class="col-xs-12 col-md-3">
      <a href="https://github.com/chrisvogt" class="btn btn-stats btn-block hvr-grow-shadow">
        <p>
          <span class="lead"><i class="fa fa-code-fork"></i> 124 commits</span> <small>pushed to open source projects this month.</small>
        </p>
      </a>
    </div>
    <div class="col-xs-12 col-md-3">
      <a href="http://sandbox.chrisvogt.me" class="btn btn-stats btn-block hvr-grow-shadow">
        <p id="stats-projects">
          <span class="lead"><i class="fa fa-cube"></i> <span class="val"><img src="/img/ajax-loader.gif"></span> projects</span> <small>available through my open source projects directory.</small>
        </p>
      </a>
    </div>
    <div class="col-xs-12 col-md-3">
      <a href="#" class="btn btn-stats btn-block hvr-grow-shadow">
        <p>
          <span class="lead"><i class="fa fa-bookmark"></i> 0 posts</span> <small>have been added to the site this month.</small>
        </p>
      </a>
    </div>
  </div>
</div><!-- /.masthead -->
