<div id="masthead" class="collapse in">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-3">
      <a href="http://stats.chrisvogt.me" class="btn btn-stats btn-block hvr-grow-shadow">
        <p id="stats-time">
          <span class="lead"><i class="fa fa-history"></i> <span class="val"><img src="/img/ajax-loader.gif" alt="Loading icon..."></span> hours</span> <small>logged towards open source projects the last 7 days.</small>
        </p>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3">
      <a href="https://github.com/chrisvogt?tab=contributions&amp;period=monthly" class="btn btn-stats btn-block hvr-grow-shadow">
        <p id="stats-commits">
          <span class="lead"><i class="fa fa-code"></i> <span class="val"><img src="/img/ajax-loader.gif" alt="Loading icon..."></span> commits</span> <small>pushed to <span class="octicon octicon-logo-github"></span> since yesterday.</small>
        </p>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3">
      <a href="http://projects.chrisvogt.me" class="btn btn-stats btn-block hvr-grow-shadow">
        <p id="stats-projects">
          <span class="lead"><i class="fa fa-floppy-o"></i> <span class="val"><img src="/img/ajax-loader.gif" alt="Loading icon..."></span> projects</span> <small>are listed in my projects directory.</small>
        </p>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3">
      <a href="#" class="btn btn-stats btn-block hvr-grow-shadow">
        <p>
          <span class="lead"><i class="fa fa-newspaper-o"></i> 0 posts</span> <small>have been added to the site this month.</small>
        </p>
      </a>
    </div>
  </div>
</div><!-- /.masthead -->
