<div id="masthead" class="collapse in">
  <div class="container-fluid">
    <div class="col-md-2">
      <div class="well well-stats hvr-grow-shadow">
        <p>
          <span><i class="fa fa-clock-o"></i> 24 hours</span> logged towards open source projects this month.
        </p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="well well-stats hvr-grow-shadow">
        <p>
          <span><i class="fa fa-code-fork"></i> 124 commits</span> pushed to open source projects this month.
        </p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="well well-stats hvr-grow-shadow">
        <p>
          <span><i class="fa fa-cube"></i> 34 projects</span> are publicly available on GitHub.
        </p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="well well-stats hvr-grow-shadow">
        <p>
          <span><i class="fa fa-bookmark"></i> 4 posts</span> have been added to the site this month.
        </p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="well well-stats hvr-grow-shadow">
        <p>
          <span><i class="fa fa-bookmark"></i> Are you a recruiter?</span> If so click here for special access.
        </p>
      </div>
    </div>
  </div>
</div><!-- /.masthead -->
