          <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
              <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand hvr-grow-rotate" href="/">
                <img class="img img-circle hvr-grow-rotate" src="https://www.gravatar.com/avatar/3e0cd2da42672a768e98a2b0c0617b72?s=48px" width="48" height="48" alt="Avatar">
                chrisvogt<span>.me</span>
              </a>
              <a id="ctlStats" class="btn btn-default btn-xs" data-toggle="collapse" href="#masthead" aria-expanded="true" aria-controls="masthead">
                <i class="fa fa-area-chart"></i>
              </a>
              <div class="social-container">
                <ul class="social">
                  <li>
                    <a class="github" href="https://github.com/chrisvogt" title="Chris Vogt on GitHub">
                      <i class="fa fa-github-square hvr-shrink"></i>
                    </a>
                  </li>
                  <li>
                    <a class="twitter" href="https://twitter.com/c1v0" title="@C1V0 on Twitter">
                      <i class="fa fa-twitter-square hvr-shrink"></i>
                    </a>
                  </li>
                  <li>
                    <a class="gplus" href="https://plus.google.com/u/0/+chrisvogt94952" title="CJ Vogt on Google+">
                      <i class="fa fa-google-plus-square hvr-shrink"></i>
                    </a>
                  </li>
                  <li>
                    <a class="behance" href="https://www.behance.net/chrisvogt" title="Chris Vogt on Behance">
                      <i class="fa fa-behance-square hvr-shrink"></i>
                    </a>
                  </li>
                  <li>
                    <a class="instagram" href="https://instagram.com/c1v0" title="C1V0 on Instagram">
                      <i class="fa fa-instagram hvr-shrink"></i>
                    </a>
                  </li>
                  <li>
                    <a class="linkedin" href="https://www.linkedin.com/in/cjvogt" title="Chris Vogt on LinkedIn">
                      <i class="fa fa-linkedin-square hvr-shrink"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
