<div id="sidebar" class="col-xs-12 col-md-4">
  <h2>Recent Posts</h2>
  <div id="articles">
    {% for post in site.posts %}
    <aside>
      <div class="thumb">
        <img src="{{ post.thumbnail }}" class="img img-rounded" height="76" width="76" alt="Thumbnail">
      </div>
      <a href="{{ post.url }}" title="{{ post.title }}">
        <h4>{{ post.title }}</h4>
      </a>
      <i class="fa fa-calendar"></i> {{ post.date | date: '%B %d, %Y' }}
      <p>{{ post.excerpt }}</p>
    </aside>
    {% endfor %}
  </div>
  <div class="jHolder"></div>
  <nav>
    <ul class="pager">
      <li class="previous"><a><span aria-hidden="true">&larr;</span> Older</a></li>
      <li class="next"><a>Newer <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </nav>
</div><!-- /#sidebar -->
