    {% include header.html %}
    <div id="viewpane" class="container-fluid">
      <div id="content" class="col-xs-12 col-md-8">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div><!-- /#content -->
      {% include sidebar.html %}
    </div> <!-- /.container-fluid -->
    {% include footer.html %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/jpages/js/jPages.min.js"></script>
    <script>
    $(function(){
      $("div.jHolder").jPages({
          containerID : "articles",
          animation   : "flipInX",
          pause       : 8500,
          clickStop   : true,
          scrollBrowse: true,
          perPage     : 5,
          previous    : ".previous a",
          next        : ".next a",
          links       : "blank",
          first       : false,
          last        : false
      });
    });
    </script>
  </body>
</html>
