    {% include header.html %}
    <div id="viewpane" class="container-fluid">
      {% include sidebar.html %}
        <div id="content" class="col-xs-12 col-md-6">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div><!-- /#content -->
    </div> <!-- /.container-fluid -->
    {% include footer.html %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/components/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
